{% extends "management/layout.html" %}

{% block body %}
<div>
    <div class="search-bar-container">
        <input type="text" id="searchInput" required placeholder="Search...">
        <select id="searchSection" required onchange="autoSearch()">
            <option value="" disabled selected>Search by</option>
            <option value="name">Name</option>
            <option value="email">Email</option>
            <option value="Employ_name">Employ name</option>
            <option value="recipt_code_buy">recipt code buy</option>
            <option value="recipt_code_return">recipt code return</option>
            <option value="total_price">total price</option>
            <option value="date_time">date time</option>
            <option value="all">All </option>
        </select>
        <a href="{% url 'management:sales_report'%}">
            <button type="button" style="background-color: brown; color: white; padding: 5px;margin-left: 30px; border-radius: 5px;"><strong>SALES REPORT</strong></button>
        </a>
    </div>
</div>
<div id="index_outer_div" class="user-details">
    {% if customer_buy or customer_return %}
    <table class="user-table">
        <thead>
            <tr>
                <th>index no</th>
                <th>{% if sorted_as == '0Name' %}
                    <a href="{% url 'management:customer_sort' 1 'Name' %}" class="hover-effect">
                        <h3>Name</h3>
                    </a>
                    {% else %}
                    <a href="{% url 'management:customer_sort' 0 'Name' %}" class="hover-effect">
                        <h3>Name</h3>
                    </a>
                    {% endif %}
                </th>
                <th>{% if sorted_as == '0email' %}
                    <a href="{% url 'management:customer_sort' 1 'email' %}" class="hover-effect">
                        <h3>Email</h3>
                    </a>
                    {% else %}
                    <a href="{% url 'management:customer_sort' 0 'email' %}" class="hover-effect">
                        <h3>Email</h3>
                    </a>
                    {% endif %}
                </th>
                <th>{% if sorted_as == '0Employ_name' %}
                    <a href="{% url 'management:customer_sort' 1 'Employ_name' %}" class="hover-effect">
                        <h3>Employ name</h3>
                    </a>
                    {% else %}
                    <a href="{% url 'management:customer_sort' 0 'Employ_name' %}" class="hover-effect">
                        <h3>Employ name</h3>
                    </a>
                    {% endif %}
                </th>
                <th>{% if sorted_as == '0recipt_code' %}
                    <a href="{% url 'management:customer_sort' 1 'recipt_code' %}" class="hover-effect">
                        <h3>recipt code buy</h3>
                    </a>
                    {% else %}
                    <a href="{% url 'management:customer_sort' 0 'recipt_code' %}" class="hover-effect">
                        <h3>recipt code buy</h3>
                    </a>
                    {% endif %}
                </th>
                <th><h3>recipt code return</h3></th>
                <th>{% if sorted_as == '0total_price' %}
                    <a href="{% url 'management:customer_sort' 1 'total_price' %}" class="hover-effect">
                        <h3>total price</h3>
                    </a>
                    {% else %}
                    <a href="{% url 'management:customer_sort' 0 'total_price' %}" class="hover-effect">
                        <h3>total price</h3>
                    </a>
                    {% endif %}
                </th>

                <th>{% if sorted_as == '0date_time' %}
                    <a href="{% url 'management:customer_sort' 1 'date_time' %}" class="hover-effect">
                        <h3>Date time</h3>
                    </a>
                    {% else %}
                    <a href="{% url 'management:customer_sort' 0 'date_time' %}" class="hover-effect">
                        <h3>Date time</h3>
                    </a>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for cust_buy in customer_buy %}
            <tr>
                <td>{{ forloop.counter0 }}</td>
                <td>{{ cust_buy.1 }}</td>
                <td>{{ cust_buy.2 }}</td>
                <td>{{ cust_buy.3 }}</td>
                <td><a href="{% url 'management:get_recipt' cust_buy.4 'customers' %}" class="hover-effect">{{ cust_buy.4 }}</a></td>
                <td>NONE</td>
                <td>{{cust_buy.5}}</td>
                <td>{{ cust_buy.6 }}</td>
            </tr>
                {% for cust_return in customer_return %}
                {% if cust_return.4 == cust_buy.4 %}
            <tr style="color: rgb(110, 0, 0);">
                <td>{{ cust_return.0 }}</td>
                <td>{{ cust_return.1 }}</td>
                <td>{{ cust_return.2 }}</td>
                <td>{{ cust_return.3 }}</td>
                <td><a href="{% url 'management:get_recipt' cust_return.4 'customers' %}" class="hover-effect">{{ cust_return.4 }}</a></td>
                <td><a href="{% url 'management:get_recipt' cust_return.5 'customers_return' %}" class="hover-effect">{{ cust_return.5 }}</a></td>
                <td>{{ cust_return.6 }}</td>
                <td>{{ cust_return.7 }}</td>
            </tr>
                {% endif %}
                {% endfor %}
            
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>No users added</h1>
    {% endif %}
</div>

<script>
    const searchUrl = "{% url 'management:customer_search'%}";
    function autoSearch() {
        const query = document.getElementById('searchInput').value;
        const section = document.getElementById('searchSection').value;

        if (!query.trim()) {
            alert("Please enter a search query.");
            return;
        }

        if (!section) {
            alert("Please select a section to search.");
            return;
        }

        window.location.href = `${searchUrl}?q=${encodeURIComponent(query)}&section=${encodeURIComponent(section)}`;
    }

    document.getElementById('searchInput').addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            autoSearch();
        }
    });
</script>
{% endblock %}