{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'management_css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'management_css/assets/BUGS logo.jpeg' %}" alt="BUGS">
    <title>B U G S</title>
</head>

<body>
    <header>
        <div class="header-row">
            <div class="header-title">Bhatti Union General Store</div>
            <div class="header-buttons">
                <a href="{% url 'management:logout' %}">
                    <button type="button" class="logout-button">Log out</button>
                </a>
                <a href="{% url 'management:profile' %}">
                    <button type="button" class="logout-button">Profile</button>
                </a>
            </div>
        </div>
    
        <!-- Centered Management Section title -->
        <div class="line2">
            <div class="section-title">Management Section</div>
            <div class="right-buttons">
                <a href="{% url 'recipt:index' %}">
                    <button type="button" class="logout-button">Counter</button>
                </a>
                <a href="{% url 'inventry:index' %}">
                    <button type="button" class="logout-button">Management</button>
                </a>
            </div>
        </div>
    </header>    
    
    <div id="outerContainer">
        <div id="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>

</html>