{% extends "management/layout.html" %}

{% block body %}

<div id="index_outer_div" class="user-details">
    <!-- <div class="receipt-header">Receipt Details</div> -->
    <table class="user-table">
        <thead>
            <tr>
                <th>Product Code</th>
                <th>Product Description</th>
                <th>Quantity</th>
                <th>Price per Unit</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product in recipt %}
            <tr>
                <td>{{ product.1 }}</td>
                <td>{{ product.2 }}</td>
                <td>{{ product.3 }}</td>
                <td>{{ product.4 }}</td>
                <td>{{ product.5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if recipt_type == 'customers'%}
    <table class="user-table" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Employ Name</th>
                <th>Receipt Code (Buy)</th>
                <th>Total Price</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>{{ customer.1 }}</td>
                <td>{{ customer.2 }}</td>
                <td>{{ customer.3 }}</td>
                <td>{{ customer.4 }}</td>
                <td>{{ customer.5 }}</td>
                <td>{{ customer.6 }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <table class="user-table" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Employ Name</th>
                <th>Receipt Code (Buy)</th>
                <th>Receipt Code (Return)</th>
                <th>Total Price</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ customer.1 }}</td>
                <td>{{ customer.2 }}</td>
                <td>{{ customer.3 }}</td>
                <td><a href="{% url 'management:get_recipt' customer.4 'customers' %}" class="hover-effect">{{ customer.4 }}</a></td>
                <td>{{ customer.5 }}</td>
                <td>{{ customer.6 }}</td>
                <td>{{ customer.7 }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
