{% extends "recipt/layout.html" %}

{% block body %}
<div>
    <div id="receipt-content">
        <div style="display: flex; justify-content: space-between;">
            <div>
                {% if not customer_name %}
                    {% if request.user.first_name and request.user.last_name %}
                        <h3>Here is your receipt by {{ request.user.first_name }} {{ request.user.last_name }}
                        <a href="{% url 'recipt:edit_customer' customer_name customer_email %}" class="edit-button">
                            <img src="https://th.bing.com/th/id/OIP.P6trHImFdjGgSXQBU7_sagHaHa?rs=1&pid=ImgDetMain"
                                alt="EDIT" style="width: 15px; height: 20px;  margin-right: 10px;">
                        </a></h3>
                        {% else %}
                        <h3>Here is your receipt by {{ request.user.username }}
                        <a href="{% url 'recipt:edit_customer' customer_name customer_email %}" class="edit-button">
                            <img src="https://th.bing.com/th/id/OIP.P6trHImFdjGgSXQBU7_sagHaHa?rs=1&pid=ImgDetMain"
                                alt="EDIT" style="width: 15px; height: 20px;  margin-right: 10px;">
                        </a></h3>
                    {% endif %}
                {% else %}
                    {% if request.user.first_name and request.user.last_name %}
                        <h3>Here is {{ customer_name }}'s receipt by {{ request.user.first_name }} {{ request.user.last_name }}
                            {% if customer_name %}
                                <a href="{% url 'recipt:edit_customer' customer_name customer_email %}" class="edit-button">
                                    <img src="https://th.bing.com/th/id/OIP.P6trHImFdjGgSXQBU7_sagHaHa?rs=1&pid=ImgDetMain"
                                        alt="EDIT" style="width: 15px; height: 20px;  margin-right: 10px;">
                                </a>
                        {% endif %}
                        </h3>
                    {% else %}
                        <h3>Here is {{ customer_name }}'s receipt by {{ request.user.username }}
                            {% if customer_name %}
                                <a href="{% url 'recipt:edit_customer' customer_name customer_email %}" class="edit-button">
                                    <img src="https://th.bing.com/th/id/OIP.P6trHImFdjGgSXQBU7_sagHaHa?rs=1&pid=ImgDetMain"
                                        alt="EDIT" style="width: 15px; height: 20px;  margin-right: 10px;">
                                </a>
                            {% endif %}
                        </h3>
                    {% endif %}
                {% endif %}
            </div>
            <h6 class="receipt-date">{{ now }}</h6>
        </div>
        {% if products %}
        {% if recipt_code or recipt_code_buy %}
        <h6>
            {% if recipt_code %}recipt code: {{ recipt_code }}{% endif %}
            {% if recipt_code and recipt_code_buy %} | {% endif %}
            {% if recipt_code_buy %}recipt buy code: {{ recipt_code_buy }}{% endif %}
        </h6>
        {% endif %}
        {% endif %}

        <div id="index_outer_div" class="receipt-details">
            {% if products %}
            <table class="product-table">
                <thead>
                    <tr style="background-color: brown;">
                        <th>Index No</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total for Each Item</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter0 }}</td>
                        <td>{{ product.0 }}</td>
                        <td>{{ product.1 }}</td>
                        <td>{{ product.2 }}</td>
                        <td>{{ product.3 }}</td>
                        <td>{{ product.4 }}</td>
                        <td>
                            {% load static %}
                            <a href="{% url 'recipt:dele' forloop.counter0 %}" class="delete-button">
                                <img src="{% static 'recipt_css/assets/delete_icon.jpg' %}" alt="Delete"
                                    style="width: 15px; height: 20px;">
                            </a>
                            {% if recipt_code_buy %}
                            <a href="{% url 'recipt:edit_product_return' forloop.counter0 recipt_code_buy %}"
                                class="edit-button">
                                <img src="{% static 'recipt_css/assets/edit_icon.jpeg' %}" alt="Edit"
                                    style="width: 15px; height: 20px;">
                            </a>
                            {% else %}
                            <a href="{% url 'recipt:edit_product' forloop.counter0 %}" class="edit-button">
                                <img src="{% static 'recipt_css/assets/edit_icon.jpeg' %}" alt="Edit"
                                    style="width: 15px; height: 20px;">
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h1>No items added</h1>
            {% endif %}
        </div>

        <div>
            <h4>Total Price: {{ total_price }}</h4>
        </div>
        <br>
    </div>
    <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; margin: 20px 0;">
        {% if not recipt_code_buy and products %}
        <a href="{% url 'recipt:add' %}" class="action-button">
            <button class="styled-button"><strong>Add New Product</strong></button>
        </a>
        <a href="{% url 'recipt:sendmail' 1 %}" class="action-button">
            <button class="styled-button"><strong>Send E-Receipt</strong></button>
        </a>
        <a href="{% url 'recipt:save_customer' 1 %}" class="action-button">
            <button class="styled-button"><strong>Save E-Receipt</strong></button>
        </a>
        {% endif %}
    
        {% if recipt_code_buy and products %}
        <a href="{% url 'recipt:return_product' %}" class="action-button">
            <button class="styled-button"><strong>Add Return Product</strong></button>
        </a>
        <a href="{% url 'recipt:sendmail_return' 1 %}" class="action-button">
            <button class="styled-button"><strong>Send Return E-Receipt</strong></button>
        </a>
        <a href="{% url 'recipt:save_customer_return' 1 %}" class="action-button">
            <button class="styled-button"><strong>Save E-Receipt</strong></button>
        </a>
        {% endif %}
    
        {% if products %}
        <button onclick="printAndSaveReceipt()" class="styled-button"><strong>Print</strong></button>
        {% endif %}
        <div>
        <a href="{% url 'recipt:new_receipt' 0 %}" class="action-button">
            <button class="styled-button"><strong>New Buy Receipt</strong></button>
        </a>
        <a href="{% url 'recipt:new_receipt' 1 %}" class="action-button">
            <button class="styled-button"><strong>New Return Product</strong></button>
        </a>
    </div>
    </div>
    
</div>
    <script>
        function printAndSaveReceipt() {
            document.querySelectorAll('.delete-button').forEach(el => el.style.display = 'none');
            document.querySelectorAll('.edit-button').forEach(el => el.style.display = 'none');

            window.print();

            document.querySelectorAll('.delete-button').forEach(el => el.style.display = 'inline');
            document.querySelectorAll('.edit-button').forEach(el => el.style.display = 'inline');

            console.log("Saving data after printing...");
            saveCustomer()
            // setTimeout(saveCustomer, 1000); // 1-second delay
        }

        function saveCustomer() {
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/recipt_app/save-customer/1", true);
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log("Customer data saved successfully!");
                    // Redirect to a new receipt after saving
                    window.location.href = "/recipt_app/new/1/";
                } else {
                    console.log("Error saving customer data: " + xhr.status);
                }
            };

            xhr.onerror = function () {
                console.log("Request failed.");
            };

            xhr.send();
        }
    </script>

    {% endblock %}