<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recipt_css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'recipt_css/assets/EZ logo.jpg' %}" alt="EZ MART">
    <title>EZ MART</title>
</head>
<body>
    <header>
        <div class="header-center">
            <div class="header-title">Easy Mart</div>
            <div class="section-title">Counter Section</div>
        </div>
        <div class="header-right">
        <a href="{% url 'recipt:logout' %}">
            <button type="button" class="logout-button"><strong>Log out</strong></button>
        </a>
        <a href="{% url 'recipt:profile' %}">
            <button type="button" class="logout-button"><strong>profile</strong></button>
        </a>
        </div>
    </header>

    <div id="outerContainer">
        <div id="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
