{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'inventry_css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'inventry_css/assets/BUGS logo.jpeg' %}" alt="BUGS">
    <title>B U G S</title>
</head>

<style>
input[type="text"] {
    width: 250px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    transition: all 0.3s ease;
  }
</style>

<body>
    <header>
        <div class="header-center">
            <div class="header-title">Bhatti Union General Store</div>
            <div class="section-title">Inventory Section</div>
        </div>
        <div class="header-right">
        <a href="{% url 'inventry:logout' %}">
            <button type="button" class="logout-button"><strong>Log out</strong></button>
        </a>
        <a href="{% url 'inventry:profile' %}">
            <button type="button" class="logout-button"><strong>profile</strong></button>
        </a>
        </div>
    </header>

    <div id="outerContainer">
        <div id="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>